{% extends 'notebook_shop/base.html' %}

{% block body %}
    <h2>Lenovo Ideapad 330 (15, Intel)</h2>
    <h4>&laquo;Описание товара&raquo;</h4>
    <a href={{ Good.object.image.url }} target="_blank"><img
            src={{ Good.object.image.url }} alt="Lenovo Ideapad 330 (15, Intel)"
        width="300"> </a>
    <p>
        Оптимизируй повседневную работу
    </p>
    <h4>&laquo;Характеристики товара&raquo;</h4>
    <p>

    <ul>
        <li>Процессор Intel<sup class="reg">&reg;</sup> Core&trade; i5&nbsp;восьмого поколения</li>
        <li>Дискретная видеокарта NVIDIA GeForce MX150</li>
        <li> 2&nbsp;ГБ видеопамяти GDDR5</li>
        <li>Сканер отпечатков пальцев</li>
        <li>8&nbsp;ГБ ОЗУ DDR4</li>
        <li>PCIe SSD накопитель на&nbsp;256&nbsp;ГБ</li>
        <li>Слот для дополнительного жесткого диска</li>
    </ul>

    <br> Иногда лучше ничего не&nbsp;усложнять.
    <br>Благодаря непревзойденному процессору и&nbsp;поддержке современных видеокарт, ноутбук Ideapad 330 обладает
    высокой производительностью, оставаясь при этом простым и&nbsp;удобным в&nbsp;использовании.
    <br>Доступный в&nbsp;различных изысканных цветах, этот надежный и&nbsp;прочный ноутбук гарантирует максимальную
    эффективность сегодня и&nbsp;в&nbsp;будущем.
    </p>
    <h4>Цвета</h4>
    <p>
        Платиновый серый, Белоснежный, Темно-синий, Шоколадный, Черный
    </p>
{% endblock %}