<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'notebook_shop/css/bootstrap.min.css' %}">

    <title>
        {% block title %}
            МИР НОУТБУКОВ
        {% endblock %}
    </title>

</head>
<body class="container">

    {% block body_header %}
        <h1>МИР НОУТБУКОВ. &laquo;Посмотри на&nbsp;мир по&nbsp;новому!&raquo;</h1>
        <hr>
        <ul>
            <li><a href="/home">На&nbsp;главную</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    <hr>
    {% endblock %}

    {% block body %}
    {% endblock %}

    {% block body_end %}
        <hr>
        <footer> &laquo;Все права защищены&raquo; &copy;&nbsp;2019</footer>
    {% endblock %}

</body>
</html>

<!DOCTYPE html>
<html>
