{% extends 'notebook_shop/base.html' %}

{% block body %}
    <h1>Каталог</h1>
    <ul>
        <li>
            <h2>Ноутбуки</h2>

            <a href="content/mi_air">

                <img src={{ good.objects.image.url }} alt="Mi Air 13.3" width="200">
                <p>Mi Air 13.3"</p>
            </a>
            <a href="content/lenovo_330">
                <img src={{ good.objects.image.url }} alt="Lenovo Ideapad 330" width="200">
                <p>Lenovo Ideapad 330 (15" Intel)</p>
            </a>
        </li>
    </ul>

{% endblock %}
